@use "/src/variables" as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $dark-cyan;
  color: $white;

  h1 {
    text-align: center;
    padding: 5rem 0;
  }

  ag-grid-angular {
    align-self: center;
    height: 500px;
    width: 600px;
  }
}
